<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <span class="description">jQuery rating plugin</span>

    <nav>
      <li class="fork"><a href="https://github.com/uagrace/like-dislike">View On GitHub</a></li>
      <li class="downloads"><a href="https://github.com/uagrace/like-dislike/zipball/master">ZIP</a></li>
      <li class="downloads"><a href="https://github.com/uagrace/like-dislike/tarball/master">TAR</a></li>
    </nav>

  </div>

</header>
